{% extends 'base.html' %}

{% block content %}


{% load static %}
<section class="ftco-section ftco-wrap-about">
     
    <div class="container">
        
        <div class="row">
            <div class="col-md-7 d-flex">
                <div class="img img-1 mr-md-2" style="background-image: url({% static 'customer/image/about.jpg' %});"></div>
                <div class="img img-2 ml-md-2" style="background-image: url({% static 'customer/image/about-1.jpg' %});"></div>
            </div>
            <div class="col-md-5 wrap-about pt-5 pt-md-5 pb-md-3 ftco-animate">          
            <form method="POST" class='form-horizontal'>
                {% csrf_token %}
                <div class="form-group">
                    <label > First Name </label>
                   {{form.first_name}}
                   <br>
                   <label > last Name </label>
                   {{form.last_name}}
                   <br>
                   <label > User Name </label>
                   {{form.username}}
                  </div>
                <button type="submit" class="btn btn-outline-dark"> Update </button>
                <a href="{% url 'customer_info' %}" class="btn btn-outline-info"> Back </a>
            </form>
            </div>
            
        </div>
    </div>


{% endblock content %}


